@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Nunito:200,300,400,600,700,800,900&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
 */

html, body {
	width: 100%;
	height: 100%;
	/* background-color: gainsboro; */
	font-family: 'Lato', sans-serif;
}


.main {
	/* background-color: white; */
	background-image: linear-gradient(rgb(243, 235, 229), rgb(206, 237, 255));
	/* background-size: 100% 100%; */
	/* animation-name: colorChange;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	background-size: cover; */
	padding: 6vh;
	height: 100%;
	width: 100%;
	position: relative;
	transition: all 1s;
	z-index: 99;
	overflow: hidden;
}

.sun {
	position: absolute;
	height: 60vh;
	width: 60vh;
	border-radius: 50%;
	background-color: orangered;
	z-index: 100;
	top: 30%;
	left: -80%;
	animation-name: sunrise;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	/* border: 1px solid red; */
}

.title {
	font-size: 8vh;
	line-height: 1.1;
	position: absolute;
	z-index: 101;
	/* border: 1px solid blue; */
}

.wrap-main {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	z-index: 103;
	/* border: 1px solid green; */
}

.select-city {
	/* border: none; */
	background-color: rgba(255, 255, 255, 0.4);
}


.wrap {
	height: 100%;
	width: 100%;
	max-width: 480px;
	margin: auto;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.navi {
	height: 60px;
	line-height: 60px;
}

.navi>li {
	flex: 1 0 33.3333%;
	cursor: pointer;
	background-color: white;
	color: #aaa;
}

.navi>.navi-sel {
	background-color: white;
	color: #111;
}

.wrap>.conts {
	width: 100%;
	height: 100%;
	color: #111;
	background-color: white;
	/* overflow: auto; */
}


/* DAILY */
.wrap-daily > .conts {
	padding: 2rem;
	height: 100%;
	width: 100%;
	text-align: center;
	/* border: 1px solid red; */
}
.weather-icon {
	margin: 1rem 0;
}
.weather-icon > img {
	width: 80%;
}
.city-name {
	font-size: 6vh;
	margin-top: 4vh;
	width: 100%;
	text-align: center;
}
.city-weather {
	font-size: 3vh;
	margin-bottom: 4vh;
}

.city-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	/* border: 1px solid slateblue; */
	margin: 4vh 0;
}
.desc-status {
	font-size: 3vh;
}
.desc-temp {
	line-height: 0.8;
	font-size: 9vh;
	font-weight: 300;
	padding-right: 1rem;
	margin-right: 1rem;
	border-right: 1px solid #777;
}

.city-date {
	display: flex;
	justify-content: space-between;
	font-size: 3vh;
	padding: 1rem 0;
	/* border: 1px solid blue; */
}



/* WEEKLY */
.wrap-weekly>.conts {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	height: 100%;
	/* border: 1px solid red; */
}

.w-item {
	padding-left: 2.5rem;
	display: flex;
	justify-content: left;
	align-items: center;
	flex: 0 0 100%;
	/* border: 1px solid red; */
}
.w-item:hover {
	background-color: #efefef;
}

.w-item > div {
	flex: 0 0 25%;
	padding: 1.5rem;
	/* border: 1px solid blue; */
}

.w-info {
	display: flex;
	align-items: center;
	margin-right: 3rem;
	/* border: 1px solid red; */
}
.w-temp > span {
	font-size: 6vh;
	font-weight: 300;
	padding-right: 1rem;
	border-right: 1px solid #777;
}
.w-desc {
	padding-left: 1rem;
	/* border: 1px solid seagreen; */
}
.w-week {
	font-weight: 600;
	font-size: 2.5vh;
	margin-right: 1rem;
}
.w-date {
	font-size: 0.875rem;
}
.w-item > div > img {
	max-width: 150px;
}



@keyframes sunrise {
	0% {top: 30%; left: -100%; background-color: rgb(255, 54, 40);}
	50% {top: -10%; left: 40%; background-color: rgb(144, 183, 255);}
	100% {top: 30%; left: 120%; background-color: orangered;}
}
/* @keyframes colorChange {
	0%, 100% {background-image: radial-gradient(rgb(255, 79, 79), white);}
	20% {background-image: radial-gradient(rgb(255, 223, 79), white);}
	40% {background-image: radial-gradient(rgb(63, 221, 187), white);}
	60% {background-image: radial-gradient(rgb(131, 166, 211), white);}
	60% {background-image: radial-gradient(rgb(218, 157, 226), white);}
} */