@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Nunito:200,300,400,600,700,800,900&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
 */

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}


.main {
	background-image: radial-gradient(rgb(255, 79, 79), white);
	background-size: cover;
	padding: 6vw;
	height: 100%;
	width: 100%;
}


.title {
	font-size: 10vw;
	line-height: 1.1;
}

.wrap-main {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}

.select-city {
	margin: auto;
	width: 200px;
	border: none;
	background-color: rgba(255, 255, 255, 0.4);
}



.wrap {
	height: 100%;
	width: 100%;
}

.navi {
	height: 60px;
	line-height: 60px;
}

.navi>li {
	flex: 1 0 33.3333%;
	cursor: pointer;
	background-color: white;
	color: #aaa;
}

.navi>.navi-sel {
	background-color: white;
	color: #111;
}

.wrap>.conts {
	width: 100%;
	height: 100%;
	color: #111;
	background-color: white;
	/* overflow: auto; */
}


/* DAILY */
.wrap-daily > .conts {
	padding: 2rem;
	height: 100%;
	width: 100%;
	text-align: center;
	/* border: 1px solid red; */
}
.weather-icon {
	margin: 2rem 0;
}
.weather-icon > img {
	width: 80%;
}
.city-name {
	margin-top: 8vw;
	font-size: 8vw;
	width: 100%;
	text-align: center;
}
.city-weather {
	font-size: 4vw;
	margin-bottom: 10vw;
}

.city-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	/* border: 1px solid slateblue; */
	margin: 10vw 0;
}
.desc-status {
	font-size: 3vw;
}
.desc-temp {
	line-height: 0.8;
	font-size: 14vw;
	font-weight: 300;
	padding-right: 1rem;
	margin-right: 1rem;
	border-right: 1px solid #777;
}

.city-date {
	display: flex;
	justify-content: space-between;
	font-size: 4.5vw;
	padding: 1rem 0;
	/* border: 1px solid blue; */
}



/* WEEKLY */
.wrap-weekly>.conts {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.w-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 100%;
	/* border: 1px solid red; */
}
.w-item:hover {
	background-color: #efefef;
}

.w-item > div {
	flex: 0 0 25%;
	padding: 1.5rem;
	/* border: 1px solid blue; */
}

.w-info {
	display: flex;
	align-items: center;
	margin-right: 3rem;
	/* border: 1px solid red; */
}
.w-temp > span{
	font-size: 10vw;
	font-weight: 300;
	padding-right: 1rem;
	border-right: 1px solid #777;
}
.w-desc {
	padding-left: 1rem;
	/* border: 1px solid seagreen; */
}
.w-week {
	font-weight: 600;
	font-size: 3.5vw;
	margin-right: 1rem;
}
.w-date {
	font-size: 0.875rem;
}
.w-item > div > img {
	max-width: 150px;
}




@media screen and (min-width: 768px) {
	.w-item {
		flex: 0 0 50%;
	}
}